<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Madrasa-E-Imdadiya for the Blind - Blind School &amp; Madrasa in India ; Melvisharam, TamilNadu</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">
	
	

	
	

</head>

<body>
    <!-- Preloader -->
	
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="img/core-img/loader.jpg" alt="">
			
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="tel:+919952120340" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-phone" aria-hidden="true"></i> <span>+91-99521 20340</span></a>
                                <a href="mailto:imdadiya.wes@gmail.com" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>imdadiya.wes@gmail.com</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Language Dropdown -->
                                <div class="language-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="index.html">English</a>
                                            <a class="dropdown-item">Multi Lang Coming soon</a>
                                            <!--<a class="dropdown-item" href="index.html">Multi Lang Coming soon</a>-->
                                            <!--<a class="dropdown-item" href="#">UK</a>
                                            <a class="dropdown-item" href="#">Bangla</a>
                                            <a class="dropdown-item" href="#">Hindi</a>
                                            <a class="dropdown-item" href="#">Spanish</a>
                                            <a class="dropdown-item" href="#">Latin</a>-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Login -->
                                <div class="login">
                                    <a href="https://wa.link/kxph0h" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true" ></i> <span>WhatsApp</span></a>
                                </div>
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="https://www.youtube.com/channel/UC4GFsJfeOQKyW3_yTKqtRtg" target="_blank"><i class="fa fa-youtube" aria-hidden="true" ></i> <span>YouTube</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>